
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>BH</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">shihad</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>products</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/addProduct" class="dropdown-item">Addproducts</a>
                            <a href="/admin/viewProduct" class="dropdown-item">viewproducts</a>
                           
                        </div>
                    </div>
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>category & Brand</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/adminCategory" class="dropdown-item">Add category</a>
                            <a href="/admin/subCategory" class="dropdown-item">Add subcategory</a>
                             <a href="/admin/brand" class="dropdown-item">Add brand</a>
                           
                        </div>
                    </div>


                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Order Details</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/orderInfo" class="dropdown-item">OrderInfo</a>   
                        </div>
                    </div>
                   
                    <a href="/admin/addProdut" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Addproduct</a>
                    <a href="/admin/userInfo" class="nav-item nav-link"><i class="fa fa-table me-2"></i>UserInfo</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                   
                </div>
            </nav>
        </div>

         <!-- JavaScript Libraries -->
   

