{{!-- <section id="header">
<a href="#"><img src="images/img/logo.png"  class="logo" alt=""></a>
<div>
    <ul id="navbar" >
        <li><a class="active" href="/views/index.hbs">Home</a></li>
        <li><a class="active"href="/views/shop.hbs">shop</a></li>
        <li><a class="active" href="/views/blog.hbs">Blog</a></li>
        <li><a  class="active"href="/views/about.hbs">About</a></li>
        <li><a class="active" href="/views/contact.hbs">Contact</a></li>
        <li><a  class="active"href="/views/cart.hbs"><i class="fa-solid fa-bag-shopping"></i></a></li>
        <li>
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">login</a>
    <a class="dropdown-item" href="#">logout</a>
   
  </div>
</div>
        </li>
    </ul>
</div>

</section>
<section id="hero">
<h4>Trade-in-offer</h4>
<h2>Super value details</h2>
<h1>On all Products</h1>
<p>Save more with coupons & up to 70% off</p>
<button>SHOP NOW</button>
</section>


<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="images/img/features/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
     <div class="fe-box">
        <img src="images/img/features/f2.png" alt="">
        <h6>Online Orders</h6>
    </div>
     <div class="fe-box">
        <img src="images/img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
     <div class="fe-box">
        <img src="images/img/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
     <div class="fe-box">
        <img src="images/img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
     <div class="fe-box">
        <img src="images/img/features/f6.png" alt="">
        <h6>24/7 support</h6>
    </div>
</section>


<section id="product1" class="section-p1" >
    <h2>Featured Products</h2>
    <p>summer Collection newModern Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="images/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/img/products/f6.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/img/products/f7.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        
        <div class="pro">
            <img src="images/img/products/f8.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Shirt Boy all</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$785</h4>
            </div>
            <a   href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

    </div>


</section>


<section id="banner" class="section-m1">
 <h4>Repair services</h4>
 <h2>Up to <span>50% off</span> - all Love You by Shihad</h2>
 <button class="normal">Explore more</button>

</section>

 --}}
