<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/resetpswd" method="POST">
            <div class="form-outline mb-4">
             <input type="password" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter new password"  name="password"/>
             <label class="form-label" for="form3Example3">Password</label>
           </div>
           <input type="hidden" name="user_id" value="{{_id}}">
       
           <div class="form-outline mb-4">
             <input type="password" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter ur password again"  name="confirmpassword"/>
             <label class="form-label" for="form3Example3">confirm Password</label>
           </div>


           <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">submit</button>
              </form>
      </div>
    </div>
  </div>
  </section>